<html>
<head>
    {% include 'base.html.twig' %}
</head>
<body class="with-side-menu control-panel control-panel-compact">
{% include 'menu.html.twig' %}

<div class="page-content">
    <div class="container-fluid">
            <div class="col-md-6 col-lg-6 col-xs-6 col-xl-6" style="float: left">
                <h1>Liste des adhérents</h1>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6 col-xl-6" style="float: right">
                <a href="{{path ('adherent_new')}}">
                    <button class="btn">Ajouter un adhérent</button>
                </a>
            </div>
        <table id="table-edit" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th style="text-align: center">Nom</th>
                <th style="text-align: center">Code postal</th>
                <th style="text-align: center">Ville</th>
                <th style="text-align: center">Email</th>
                <th style="text-align: center">Téléphone</th>
                <th style="text-align: center">Jours inscrit</th>
                <th style="text-align: center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for adherent in adherents %}
            <tr style="text-align: center">
                <td>{{ adherent.nom }}</td>
                <td>{{ adherent.codePostal }}</td>
                <td>{{ adherent.ville }}</td>
                <td>{{ adherent.email }}</td>
                <td>{{ adherent.telephone }}</td>
                {% for groupe in groupes %}
                <td>{{ groupe.nom }}</td>
                {% endfor %}
                <td style="white-space: nowrap; width: 1%;"><div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                        <div class="btn-group btn-group-sm" style="float: none;">
                            <a href="{{ path('adherent_show', { 'id': adherent.id }) }}">
                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                            </a>
                            <a href="{{ path('adherent_edit', { 'id': adherent.id }) }}">
                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            </a>
                        </div>
                    </div></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    </div><!--.container-fluid-->
</div><!--.page-content-->

{% include 'footer.html.twig' %}
</body>
</html>


