
{% block body %}
    <h1>Adherent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adherent.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ adherent.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ adherent.prenom }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{% if adherent.dateNaissance %}{{ adherent.dateNaissance|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ adherent.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ adherent.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adherent.ville }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ adherent.departement }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ adherent.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ adherent.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adherent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('adherent_edit', { 'id': adherent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
