<html>
<head>
    {% include 'base.html.twig' %}
</head>
<body class="with-side-menu control-panel control-panel-compact">
{% include 'menu.html.twig' %}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-lg-pull-12 col-md-12 col-sm-12">
                <section class="box-typical" style="text-align: center">
                    <div class="profile-card">
                        <div class="profile-card-photo" style="margin-top: 20px;">
                            <img src="{{ asset('theme/img/logo-2.png')}}" alt="">
                        </div>
                        <br>
                        <div class="profile-card-name">Identifiant: <b>{{ groupe.id }}</b></div>
                        <div class="profile-card-status">Nom: <b>{{ groupe.nom }}</b></div></br>
                        <div class="profile-card-status"><h3>Liste des adhérants à ce groupe:</h3></div>
                        <div>
                            <table id="table-edit" class="table table-bordered table-hover" style="width: 90%; text-align: center; margin: 0 auto">
                                <thead>
                                <tr>
                                    <th style="text-align: center">Nom</th>
                                    <th style="text-align: center">Prénom</th>
                                    <th style="text-align: center">Ville</th>
                                    <th style="text-align: center">Email</th>
                                    <th style="text-align: center">Téléphone</th>
                                    <th style="text-align: center">Niveau</th>
                                    <th style="text-align: center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for adherent in adherents %}
                                    <tr style="text-align: center">
                                        <td>{{ adherent.nom }}</td>
                                        <td>{{ adherent.prenom }}</td>
                                        <td>{{ adherent.ville }}</td>
                                        <td><a href="mailto:{{ adherent.email }}">{{ adherent.email }}</a></td>
                                        <td><a href="tel:{{ adherent.telephone }}">{{ adherent.telephone }}</a></td>
                                        <td>{{ adherent.niveau }}</td>
                                        <td style="white-space: nowrap; width: 1%;"><div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                                <div class="btn-group btn-group-sm" style="float: none;">
                                                    <a href="{{ path('adherent_show', { 'id': adherent.id }) }}">
                                                        <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                                            <span class="glyphicon glyphicon-arrow-right"></span>
                                                        </button>
                                                    </a>
                                                    <a href="{{ path('adherent_edit', { 'id': adherent.id }) }}">
                                                        <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {{ form_start(delete_form) }}
                        <a href="{{ path('groupe_edit', { 'id': groupe.id }) }}">
                            <button type="button" class="btn" style="float: none;margin-top: 10px;">
                                Modifier le groupe
                            </button>
                        </a>
                        <br>
                        <input style="margin-top: 10px;" type="submit" class="btn" value="Supprimer le groupe">
                        {{ form_end(delete_form) }}
                    </div><!--.profile-card-->
                    <br>
                </section><!--.box-typical-->
            </div><!--.col- -->
        </div><!--.row-->
    </div>
</div>
{% include 'footer.html.twig' %}
</body>
</html>

